.sidebar {
	background-color: $color-primary;
	grid-row: 1 / -1;
	grid-column: sidebar-start / sidebar-end;

	display: flex;
	justify-content: center;

	@media only screen and (max-width:$bp-large) {
		grid-column: 1 / -1;
		grid-row: 1 / 2; 
		justify-content: flex-end;
	}
}

.nav-btn {
	width: 5rem;
	height: 3px;
	background-color: #fff;
	border: 0;
	outline: 0;
	border-radius: 4px;
	display: block;
	margin-top: 5rem;
	cursor: pointer;

	&::after,
	&::before {
		content: '';
		display: block;
		width: 5rem;
		height: 3px;
		background-color: #fff;
		border-radius: 4px;
	}

	&::after { transform: translateY(-1.4rem); }

	&::before { transform: translateY(1.1rem); }

	@media only screen and (max-width: $bp-large) {
		margin-top: 2.5rem;
		margin-right: 3rem;
	}
}

.nav-btn:active .sidebar {
	grid-column: sidebar-start / center-start;
	z-index: 999;
	width: 100rem;
}